<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles | Roshin CMS</title>
    <script th:src="@{/js/tailwind-3.4.16.js}" type="text/javascript"></script>
</head>
<body>
<main class="h-screen bg-gray-900 flex">
    <div class="m-auto p-4 w-full max-w-2xl h-full md:h-auto">
        <div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5">
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 border-gray-600">
                <h3 class="text-lg font-semibold text-white">
                    Article
                </h3>
                <a href="/articles" class="text-white border-2 border-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:border-indigo-700 focus:ring-indigo-800">
                    Back to all articles
                </a>
            </div>
            <form th:action="@{/articles/{id}(id=${article.id})}" method="POST">
                <div class="hidden">
                    <label for="guid">GUID</label>
                    <input th:value="*{article.id}" type="text" name="id" id="guid">
                </div>
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 text-white">Name</label>
                        <input th:value="*{article.name}" type="text" name="name" id="name" class="border text-gray-900 text-sm rounded-lg  block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div></div>
                    <div class="sm:col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 text-white">Description</label>
                        <textarea th:text="*{article.content}" name="content" id="description" class="resize-none block p-2.5 w-full text-sm text-gray-900 rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-indigo-500 focus:border-indigo-500 overflow-hidden" placeholder="Write content..."></textarea>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <button type="submit" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-800">
                        Update article
                    </button>
                    <button id="delete" type="button" class="text-red-600 inline-flex items-center border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center border-red-500 text-red-500 hover:text-white hover:bg-red-600 focus:ring-red-900">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

<script>
    document.getElementById("delete").onclick = async () => {
        const confirmation = confirm("Are you sure you wanna delete")
        if (confirmation) {
            await fetch(window.location.href, {
                method: "DELETE",
                redirect: "manual"
            })
            window.location.href = "/articles"
        }
    }
    const textarea = document.getElementById("description")
    const resize = () => {
        textarea.style.height = "auto"
        textarea.style.height = textarea.scrollHeight + "px"
        if (textarea.scrollHeight > 600) {
            textarea.style.overflowY = "scroll"
            textarea.style.height = "600px"
        } else {
            textarea.style.overflowY = "hidden"
        }
    }
    textarea.addEventListener("input", resize)
    window.addEventListener("load", resize)
</script>
